* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    scroll-behavior: smooth;
}


.blue {
    color: #4FDAFC;
    font-weight: bolder;
}

.white {
    color: #FFF;
}

.note {
    font-size: 120%;
    margin-bottom: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    
}

/*LOADER*/
.loader-container {
    z-index: 50;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loader-container.fade-out {
    top: -120%;
}

.loader-container img {
    width: 40%;
    height: 30%;
}

/*MENU BAR CODE*/
#menu_bar {
    z-index: 10;
    position: fixed;
    top: 3rem;
    right: 3rem;
    height: auto;
    cursor: pointer;
    display: none;
}

#menu_bar .fas {
    color: #78E3FD;
    font-size: 2rem;
    float: left;
    text-align: center;
}

#menu_bar #rollout_bars {
    z-index: 5;
    display: block;
}

#menu_bar #rollin_bars {
    z-index: 4;
    display: none;
}

/*BACK TO TOP CODE*/
#back_to_top {
    color: white;
    background-color: #78E3FD;
    padding: 0.5rem;
    font-size: 150%;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    z-index: 20;
    cursor: pointer;
}

#back_to_top.active {
    border: 10px solid red;
}

/*CONTAINER CODE*/
#container {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: nowrap;
}

/*NAVIGATION CODE*/
#nav {
    width: 20%;
    height: 100%;
    padding: 2rem 1% 1% 1%;
    background-color: #1E1E2A;
    color: white;
    z-index: 5;
    position: fixed;
}

#nav.out {
    width: 70%;
    margin-left: 0;
}

#nav div {
    margin: 0.5rem auto;
}

#nav #intro {
    width: 100%;
    height: auto;
}

#nav #name {
    font-weight: bolder;
    text-align: center;
}

#nav #socials {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 1.5rem;
    justify-content: center;
}

#nav #socials a .fa-brands, #nav #socials a .fa-regular{
    font-size: 2rem;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    margin: 0 0.5rem;
}

#nav #socials a .fa-brands:hover, #nav #socials a .fa-regular:hover {
    color: #78E3FD;
}


#nav #intro #pic {
    border: 0.8rem solid #4A4A68;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url(../images/home_bg_2.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#nav #nav-footer {
    text-align: center;
    position: absolute;
    left: 0; right: 0; bottom: 0;
}

#nav ul {
    list-style-type: none;
    width: 100%;
    margin-left: 1rem;
}

#nav ul li {
   width: 100%;
}

#nav ul li a {
    display: block;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    line-height: 3rem;
}

#nav ul li a:hover {
    color: white;
    text-shadow: 0.2rem 0.2rem 0.4rem #000;
} 

#nav ul li a:hover span {
    color: #78E3FD;
    text-shadow: none;
}

/*MAIN CONTENT CODE*/
#content {
    color: #1E1E2A;
    width: 80%;
    height: auto;
    z-index: 2;
    margin-left: 20%;
}

#content > * {
    color: #4A4A68;
}

/*HOME SECTION*/
#content #home {
    width: 100%;
    height: 95vh;
    background-image: url(../images/home_bg_2.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#content #home #top_layer {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 27.5% 0;
} 

#top_layer > * {
    width: 60%;
    height: auto;
    padding: 1rem 2%;
    text-align: left;
    color: white;
    text-shadow: 0.5rem 0.5rem 1rem #000;
} 

#top_layer h1 {
    font-size: 400%;
    color: white;
    font-weight: bolder;
}

#top_layer p {
    font-size: 200%;
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
    letter-spacing: 0.25rem;
}



/*GENERAL SECTION CSS*/
section {
    margin: 0px;
    padding: 7rem 0px 5vh 0px;
}

section h1 {
    text-align: center;
    font-size: 300%;
    padding: 15vh 5% 10vh 5%;
    color: #4A4A68;
}

section .main {
    margin: 0 2%;
    padding: 20px 2%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    border-radius: 2%;
}

/*ABOUT SECION*/
#about_me {
    background-color: orangered;
    color: #FFF;
    font-size: 150%;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    text-shadow: none;
    font-weight: bolder;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#about_me:hover {
    cursor: pointer;
    background-color: #FF6933;   
}



#about div {
    padding: 2%;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #4A4A68;
}

#about div #writeup {
    height: auto;
}

#about div #writeup p {
    width: 100%;
    margin: 0.5rem;
}

#about div img, #about div #writeup {
    width: 10rem;
    height: 25rem;
    flex: 1 1 25rem;
    font-size: 120%;
    padding-top: 2rem;
}

#about div #writeup #get_in_touch {
    color: white;
    background-color: orangered;
    padding: 1rem;
    height: auto;
    font-weight: bolder;
    cursor: pointer;
    display: block;
    margin: auto;
}

#about div #writeup #get_in_touch:hover {
    background-color: #FF6933;
}

/*PORTFOLIO SECTION*/
#my_works {
    background-color: #2A2A3C;
    color: white;
    padding: 5%;
}

#my_works .work {
    width: 80%;
    height: auto;
    margin: 3rem auto 6rem auto;
    padding: 2%;
    font-size: 120%;
}

#my_works .work h2 {
    text-align: center;
    padding: 1rem 0;
}

#my_works .work img {
    width: 100%;
    height: 25rem;
    margin: 0 auto 1rem auto;
}

#my_works .work .writeup {
    text-align: center;
}

#my_works .work button {
    margin: 2rem;
    padding: 1rem;
    font-size: 110%;
    border: 0.1rem solid #FFF;
    outline: none;
    color: #FFF;
    background-color: #2A2A3C;
    cursor: pointer;
}

#my_works .work button:hover {
    background-color: #FFF;
    color: #2A2A3C;
}

/*SKILLS SECTION*/
#skills .main .box
 {
    flex: 1 1 17rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px grey;
    padding: 2%;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #555577;
}

#skills .main .box img {
    width: 7rem;
    height: 7rem;

}

#skills .main .box .fa-brands {
    font-size: 7rem;
}


#skills .main .box:hover .fa-brands,
#skills .main .box:hover h2 {
    color: #2A2A3C;
}

#skills .main .box h2 {
    width: 100%;
    text-align: center;
}

/*TOOLS SECTION*/
#content #tools {
    padding: 0;
    background-image: url(../images/code_desktop.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #000;
}

#content #tools .dark_bg {
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    background-color: rgba(0, 0, 0, 0.6);
}

#content #tools .dark_bg div {
    width: 4rem;
    height: auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#content #tools .dark_bg div:hover .logo {
    cursor: pointer;
    color: #E6F8FF;
    text-align: center;
}

#content #tools .dark_bg div .logo {
    font-size: 5rem;
    color: white;
}

#content #tools .dark_bg div .label {
    width: 100%;
    text-align: center;
    color: white;
}

/*SERVICES SECTION*/
#services {
    background-color: #2A2A3C;
}

#services .note {
    color: #FFF;
}

#services .main .box
{
   flex: 1 1 20rem;
   overflow: hidden;
   box-shadow: 0px 0px 5px grey;
   padding: 2%;
   cursor: pointer;
   border-radius: 0.5rem;
   width: 450px;
   height: 300px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   color: #FFF;
}

#services .main .box div {
   width: 8rem;
   height: 8rem;
}

#services .main .box:nth-child(1) div {
    background-image: url(../images/svgs/normal/web_development-removebg-preview.svg);
    background-size: 100% 100%;
}

#services .main .box:nth-child(2) div {
    background-image: url(../images/svgs/normal/web_design.svg);
    background-size: 100% 100%;
}

#services .main .box:nth-child(3) div {
    background-image: url(../images/svgs/normal/web_services-removebg-preview.svg);
    background-size: 100% 100%;
}

#services .main .box:nth-child(4) div {
    background-image: url(../images/svgs/normal/responsive-design.svg);
    background-size: 100% 100%;
}

#services .main .box:nth-child(5) div {
    background-image: url(../images/svgs/normal/debugging.svg);
    background-size: 100% 100%;
}

#services .main .box:nth-child(6) div {
    background-image: url(../images/svgs/normal/site_modifications-removebg-preview.svg);
    background-size: 100% 100%;
}

#services .main .box:nth-child(1):hover div {
    background-image: url(../images/svgs/hovers/web_development-hover-removebg-preview.svg);
}

#services .main .box:nth-child(2):hover div {
    background-image: url(../images/svgs/hovers/web_design-hover.svg);
}

#services .main .box:nth-child(3):hover div {
    background-image: url(../images/svgs/hovers/web_services-hover-removebg-preview.svg);
}

#services .main .box:nth-child(4):hover div {
    background-image: url(../images/svgs/hovers/responsive-design-hover.svg);
    background-size: 100% 100%;
}

#services .main .box:nth-child(5):hover div {
    background-image: url(../images/svgs/hovers/debugging-hover.svg);
}

#services .main .box:nth-child(6):hover div {
    background-image: url(../images/svgs/hovers/site_modifications-hover-removebg-preview.svg);
}


#services .main .box:hover h2 {
   color: #555577;
}

#services .main .box h2 {
   width: 100%;
   text-align: center;
}

/*FREELANCE*/
#content #freelance {
    padding: 0;
    background-image: url(../images/photo-1605379399642-870262d3d051.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #000;
}

#content #freelance .dark_bg {
    width: 100%;
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    font-size: 150%;
}

#content #freelance .dark_bg > a {
    color: #FFF;
    background-color: #40E65F;
    padding: 2%;
    border-radius: 5% ;
}

#content #freelance .dark_bg > a:hover {
    background-color: #78ED8D;
} 

/*CONTACT SECTION*/
#contact_me {
    width: 100%;
    height: auto;
    padding: 3% 1%;
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    
}

#contact_me h1 {
    width: 100%;
    color: #4A4A68;
}


#contact_me .contacts {
    flex: 1 20rem;
    box-shadow: 0 0 0.5rem lightgrey;
    margin: 3%;
    padding: 3% 1%;
    background-color: #FFF;
    height: auto;
}

#contact_me .contacts .block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    color: #000;
}

#contact_me .contacts #map {
    width: 100%;
    height: 15rem;
    border: 2px solid black;
    margin-top: 3rem;
}

#contact_me .contacts .icon {
    border: 1px solid darkblue;
    background-color: #78E3FD;
    color: #04CAFB;
    border: 0.5rem solid #FFF;
    box-shadow: 0 0 0.3rem #78E3FD;
    border-radius: 50%;
    margin: auto;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    text-align: center;
}

#contact_me .contacts .block:hover .icon {
    color: #FFF;
    box-shadow: 0 0 0.5rem #78E3FD;
}

#contact_me .contacts .block .mean {
    width: 80%;
}

#contact_me .contacts .block .mean h2 {
    padding: 2%;

}

#contact_me .contacts .block .mean .desc {
    padding: 2%;
    
}

#contact_me form {
    height: auto;
    margin: 2%;
    padding: 3% 1%;
    background-color: white;
    flex: 1 1 20rem;
    box-shadow: 0 0 0.5rem lightgrey;
    margin: 1%;
}

#contact_me form h2 {
    width: 100%;
    text-align: center;
    padding: 2rem;
}

#contact_me form input[type="text"],
#contact_me form input[type="number"],
#contact_me form input[type="email"],
#contact_me form textarea {
    width: 100%;
    margin: 3%;
    padding: 1.5%;
    color: #000;
    border: none;
    border-bottom: 2px solid lightgrey;
    font-size: 100%;
}

#contact_me form input[type="text"] {
    text-transform: capitalize;
}

#contact_me form input[type="text"]:focus,
#contact_me form input[type="number"]:focus,
#contact_me form input[type="email"]:focus,
#contact_me form textarea:focus {
    outline: none;
    border-bottom: 2px solid black;
}

#contact_me form input[type="submit"] {
    margin: 3%;
    padding: 3%;
    border: none;
    outline: none;
    font-size: 120%;
    color: #FFF;
    background-color: #4A4A68;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#contact_me form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #2A2A3C;
}

/*FOOTER*/
#footer {
    background-color: #1E1E2A;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 120%;
    padding: 3rem 5%;
    display: none;
}




/*MEDIA QUERIES*/
@media screen and (max-width:991px) {

    html {
        font-size: 88%;
    }

    #nav {
        margin-left: -100%;
        width: 75%;
    }

    #menu_bar {
        display: initial;
    }

    #content {
        width: 100%;
        margin-left: 0;
    }

    section {
        margin: 0px;
        padding: 5rem 0px 3vh 0px;
    }
    
    section h1 {
        text-align: center;
        font-size: 300%;
        padding: 10rem 5% 5rem 5%;
        color: #4A4A68;
    }

    #footer {
        display: block;
    }
}

@media screen and (max-width:750px) {

    html {
        font-size: 80%;
    }

    #nav {
        width: 70%;
    }

    #content #tools .dark_bg div .logo {
        font-size: 3rem;
        text-align: center;
    }

    #content #tools .dark_bg div .label {
        width: 100%;
        text-align: center;
        font-size: 90%;
    }
    

    #my_works .work button {
        margin: 1rem;
        padding: 1rem;
        font-size: 100%;
    }

    #footer {
        font-size: 110%;
        padding: 2rem 5%;
    }
    
}


@media screen and (max-width:500px) {

    html {
        font-size: 80%;
    }

    #nav {
        width: 65%;
    }

    #my_works .work {
        width: 100%;
        padding: 1%;
    }
    
    #my_works .work img {
        height: 20rem;
    }

    #my_works .work button {
        margin: 2rem 0.5rem;
        padding: 0.5rem;
        font-size: 90%;
    }
    
    #top_layer > * {
        width: 80%;
        text-shadow: 0.25rem 0.25rem 1rem #000;
    } 
    
    #top_layer h1 {
        font-size: 300%;
    }

    #top_layer p {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 500;
        letter-spacing: 0.25rem;
    }

    #my_works .work img {
        height: 15rem;
    }

}











